.container{
    width: 75%;
}
.link{
    color: #FFFFFF;
    text-decoration: none;
}
.cabecalho, .rodape, .botao__assinar{
    background-color: #000000;
}
.rodape{
    padding-top: 2em;
    padding-bottom: 4em;
}
.inicial{
    background-color: #7D1D9E;
    
}
.beneficios{
    margin-top: 4em;
}
.plano{
    margin-top: 5em;
    margin-bottom: 2em;
}
.botao__plano{
    background-color: #333333;
    color: #FFFFFF;
    border-radius: 25px;
}
.botao__ver__plano{
    background-color: #DB52E7;
    color: #FFFFFF;
    border-radius: 25px;
}
.borda-azul{
    margin: .5em;
    background-color: #3448FF;
    color: #FFFFFF;
    text-align: center;
    height: 30px;
    border-radius: 15px;
    margin-bottom: 2em;
}
.botao__assinar{
    margin: 1em;
    border-radius: 25px;
    padding: 1em;
}
.principal{
    color: #5a5a5a;
}
.principal-link{
    font-size: 11px;
}
.logo{
    border-radius: 30px;
    width: 60px;
    height: 60px;
    background-color: #5a5a5a;
}
.marca{
    width: 60px;
    height: 60px;
    background-color: #FFFFFF;
    border-radius: 30px;
}
@media screen and (max-width: 768px) {
    .disabled{
        display: none;
    }
    .card{
        width: 90%;
        margin: 0 auto;
    }
}
@media screen and (min-width: 768px) {
    .cartao{
        height: 800px;
    }
}